@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  @apply w-full rounded-sm border border-gray-200 px-3 py-2;
  @apply mb-2;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}

h1 {
  @apply mb-4 text-xl text-gray-800;
}

label {
  @apply text-sm text-gray-600;
}

img {
  max-height: 100%;
}

.btn-primary {
  @apply rounded-sm bg-primary px-4 py-1 text-white;
}

table.basic {
  @apply w-full rounded-sm bg-white shadow-md;
}

table.basic thead tr td {
  @apply border-b border-gray-200 px-4 py-2 text-sm uppercase text-gray-600;
}

table.basic tr td {
  @apply px-4 py-1;
}

table.basic a {
  @apply mx-1 inline-flex items-center gap-1 rounded-sm bg-gray-700 px-4 py-1 text-sm text-white;
}

.btn-default,
.btn-red {
  @apply rounded-md px-4 py-1;
}

.btn-red {
  @apply rounded-sm bg-red-200 px-4 py-1 text-red-600;
}

.btn-default {
  @apply rounded-sm bg-gray-600 px-4 py-1 text-white;
}
